[submodule "app"]
	path = app
	url = git@github.com:CHardaker/survivorApp.git
[submodule "server"]
	path = server
	url = git@github.com:janklatte/survivors_backend.git
[submodule "dashboard"]
	path = survivors_dashboard
	url = https://github.com/ktheoxaroulis/survivors_dashboard
